/* Final Project: Teachers Connection */

/* for development only - check layout */
/*header, div, main, nav, aside, footer {
  border: 1px solid red;
}*/

* {
  margin: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

body {
  /*background: #041C5C;*/
  /*text-align: center;*/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* top-panel contains headers and nav */
.top-panel {
  height: 8.5em;
  background: #041C5C;
  border-bottom: 2px solid red;
}

/* **** Styleing for Header tag **** */
header {
  color: #EFAE28;
  padding-left: .5em;
  background: #041C5C;
  border: 1px solid #041C5C;
}

header img {
  float: left;
}

header h1 {
  font-size: 2.5em;
  padding-left: 9em;
}

header a {
  cursor: pointer;
}

/* **** Styleing for Login section ****  */
.login {
  color: #EFAE28;
  text-align: center;
  font-size: 1.8em;
  padding-top: 1em;
  background: #041C5C;
}

/* **** Styleing for Navigation section ****  */
nav {
  /*border: 1px solid red;*/
  background: #041C5C;
  border-bottom: 2px solid red;
}

.navigate {
  background: #041C5C;
  color: #EFAE28;
  font-size: 1.3em;
  padding-bottom: 0.3em;
}

.navigate > ul {
  margin: 0;
  display: flex;
  justify-content:flex-end;
  list-style: none;
}

.navigate > ul > li {
  cursor: pointer;
  padding: 0 1em;
}

/* **** Styleing for major-container and sections ****  */
.major-container {
  display: flex;
  flex:1
}

main {
  flex: 1;
  border-left: 2px solid red;
  border-right: 2px solid red;
}

.left-aside {
  order: -1;
}

.left-aside, .right-aside {
  flex: 0 0 8em;
  background-color: #041C5C;
  /*border-top: 2px solid red;*/
}

/* **** Styleing for Teachers/Events section ****  */
.teacherDir, .events {
  width: 100%
}
.teacherDir h1 {
  text-align: center;
}
.events h1 {
  text-align: center;
}
.oneEvent, .oneTeacher {
  width: 90%;
  background: #a9b7d9;
  margin: .2em;
  padding: 10px 1em 3px 1em;
  color: black;
}

.oneTeacher button {
  float: right;
}
.oneEvent h4:hover {
  cursor: pointer;
  font-style: italic;
  font-weight: bold;
}


.form-div {
  margin-left: 1em;
  /*background: #EFAE28;*/
  /*border-radius: 10px;*/
  padding: 1em;
  font-size: 1.1em;
  /*width: 300px;*/
}






@media (min-width: 660px) {
  .top-panel {
    display:block;
  }

  header img {
    clear: left;
    width: auto;
    /*display: block;*/
  }

  header h1 {
    /*font-size: 1em;
    padding-left: 1em;*/
  }

  .major-container {
    flex-direction: row;
    flex: 1;
  }
  aside {
    flex: 0 0 4em;
  }

}
