<div class="container events">

  <div class="row">

    <!-- Left side div show all Existing Events -->
    <div class="col-sm-7">
      <br/><br/>
      <h1>Upcomming Events</h1>

      <!-- Repeating all events div -->
      <div class="oneEvent" ng-repeat="event in ctrl.allEvents" ng-hide="ctrl.viewEventMode">
        <h4 ng-click="ctrl.viewEventDetail($index)">{{event.start_datetime | date:'yyyy-MM-dd hh:mma'}} -  {{event.title}}</h4>
        <p>POC: {{event.convener}}</p>
      </div>

      <!-- view one event detail -->
      <div ng-show="ctrl.viewEventMode">
        <div class="oneEvent">
          <h4>{{ctrl.currentEvent.title}}</h4>
          <p>{{ctrl.currentEvent.description}}</p>
          <p><b>POC:</b> {{ctrl.currentEvent.convener}}
           <b>Location:</b> {{ctrl.currentEvent.location}}</p>
          <p><b>Start:</b> {{ctrl.currentEvent.start_datetime | date:'yyyy-MM-dd hh:mma'}}</p>
          <p><b>End:</b> {{ctrl.currentEvent.end_datetime | date:'yyyy-MM-dd hh:mma'}}</p>

          <button ng-click="ctrl.editEvent()" class="btn btn-primary btn-sm" ng-show="ctrl.admin">Edit</button>
          <button ng-click="ctrl.deleteEvent()" class="btn btn-primary btn-sm" ng-show="ctrl.admin">Delete</button> <span style="color:red" ng-show="ctrl.admin">Will delete all dialogues too</span>
          <br/><br/>
        </div>
        <br/>
        <div ng-repeat="dia in ctrl.dialogues" class="oneDialogue">
          <p><b>{{dia.teacherName}}:</b> {{dia.content}}</p>
        </div>
        <br/>
        <div class="">
          <input type="text" class="longInput" placeholder="Comments" ng-model="ctrl.dialogueForm.content">
          <button ng-click="ctrl.newDialogue()" class="btn btn-primary btn-xs">Post</button>
        </div>

      </div>
    </div>

    <!-- Right side Event form div  -->
    <div class="col-sm-4">
      <br/><br/>
      <h1 ng-hide="ctrl.editEventMode">New Event</h1>
      <h1 ng-show="ctrl.editEventMode">Edit Event</h1>

      <form class="form-horizontal form-div" >

        <div class="form-group">
          <label for="title">Title: </label><br/>
          <input name="title" required="required" ng-model="ctrl.eventFormData.title" type="text" value="ctrl.eventFormData.title">
        </div>
        <div  class="form-group">
          <label for="convener">Point of Contact: </label><br/>
          <!-- <input name="convener" required="required" ng-model="ctrl.eventFormData.convener" type="text"  value="ctrl.eventFormData.convener"> -->
          <select ng-model="ctrl.eventFormData.convener">
            <option value="">Select One</option>
            <option ng-repeat="teacher in ctrl.allTeachers" value="{{teacher.name}}">{{teacher.name}}</option>
          </select>

        </div>
        <div  class="form-group">
          <label for="location">Location: </label><br/>
          <input name="location" ng-model="ctrl.eventFormData.location" type="text" value="ctrl.eventFormData.location">
        </div>
        <div class="form-group">
          <label for="description">Description: </label><br/>
          <textarea rows="3" name="description" required="required"  ng-model="ctrl.eventFormData.description">{{ctrl.eventFormData.description}}</textarea>
        </div>
        <div class="form-group">
          <label for="start">From: </label><br/>
          <input type="datetime-local" name="start" required="required" ng-model="ctrl.eventFormData.start_datetime" value="{{ctrl.eventFormData.start_datetime | date:'yyyy-MM-ddThh:mm'}}">
        </div>
        <div class="form-group">
          <label for="end">To: </label><br/>
          <input type="datetime-local" name="end" ng-model="ctrl.eventFormData.end_datetime" value="{{ctrl.eventFormData.end_datetime | date:'yyyy-MM-ddThh:mm'}}">
        </div>

        <div>
        <button ng-click="ctrl.createEvent()"  ng-hide="ctrl.editEventMode" class="btn btn-primary">Create</button>
        <button ng-click="ctrl.updateEvent()" ng-show="ctrl.editEventMode" class="btn btn-primary">Update</button>
        <!-- <button ng-click="ctrl.cancelEditTeacher()" ng-show="ctrl.editEventMode">Cancel</button> -->
        </div>
      </form>


    </div>
  </div>
</div>
