<div class="container teacherDir">

  <div class="row">

    <!-- Left side div show all Teachers-->
    <div class="col-sm-7">
      <br/><br/>
      <h1>Teachers Directory</h1>
      <!-- Sort Function -->
      <p>Sort By: <span ng-if="ctrl.teacherSortByName"><b>Name</b> <a href="#" ng-click="ctrl.sortTeacherByEamil()">Email</a></span>
        <span ng-if="ctrl.teacherSortByEmail"><a href="#" ng-click="ctrl.sortTeacherByName()">Name</a> <b>Email</b></span>
      </p>

      <!--  Repeat show all Teachers div -->
      <div ng-repeat="teacher in ctrl.allTeachers" class="oneTeacher">
        <p><b>{{teacher.name}}</b> - <a href="mailto:{{teacher.email}}">{{teacher.email}}</a>

        <!-- only admin person can delete a teacher -->
        <button ng-click="ctrl.deleteTeacher($index)" ng-show="ctrl.admin" class="btn btn-primary btn-xs"> Delete </button>
        <button ng-click="ctrl.editTeacher($index)" ng-show="ctrl.admin || teacher.id == ctrl.activeTeacher.id " class="btn btn-primary btn-xs"> Edit </button>
        </p>
      </div>
    </div>

    <!-- Right side div create/edit teacher form -->
    <div class="col-sm-4 form-div">
      <br/>
      <h3 ng-hide="ctrl.editTeacherMode">New Teacher</h3>
      <h3 ng-show="ctrl.editTeacherMode">Edit Teacher</h3>
      <br/>
      <form class="form-horizontal" >

        <div class="form-group">
          <label for="name">Name: </label>
          <input name="name" required="required" ng-model="ctrl.teacherFormData.name" type="text" value="ctrl.teacherFormData.name">
        </div>
        <div class="form-group">
          <label for="email">Email: </label>
          <input name="email" required="required" ng-model="ctrl.teacherFormData.email" type="text" value="ctrl.teacherFormData.email">
        </div>
        <button ng-click="ctrl.createTeacher()" ng-hide="ctrl.editTeacherMode" class="btn btn-primary"> Create </button>
        <button ng-click="ctrl.updateTeacher(ctrl.teacherInd)" ng-show="ctrl.editTeacherMode" class="btn btn-primary"> Update </button>
        <!-- <button ng-click="ctrl.cancelEditTeacher()" ng-show="ctrl.editTeacherMode">Cancel</button> -->
      </form>
    </div>

  </div>

</div>
